name: Deploy Python Scraper to AWS

on:
  push:
    branches:
      - release
  workflow_dispatch:

# Updated with the ARN for eTendersLambda
env:
  LAMBDA_FUNCTION_ARN: arn:aws:lambda:us-east-1:211635102441:function:eTendersLambda

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }} 

      - name: Zip Lambda files
        # Zipping 'lambda_handler.py' and 'models.py'
        run: zip lambda-deployment.zip lambda_handler.py models.py

      - name: Deploy to AWS Lambda
        run: |
          aws lambda update-function-code \
            --function-name ${{ env.LAMBDA_FUNCTION_ARN }} \
            --zip-file fileb://lambda-deployment.zip
